<%= render 'layouts/header' %>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Caio Martins</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li><a href="portfolio-1-col.html">Projetos</a></li>
    <li class="active">Caio Martins</li>
  </ol>

  <div class="row">

    <div class="col-md-8">
      <img class="img-responsive" src="/assets/portfolio_1.png" alt="Portfolio 1">
    </div>

    <div class="col-md-4">
      <h3><small>Data</small></h3>
      <small>January 2014</small>
      <h3>Descrição</h3>
      <p>Para popularizar a modalidade em Niterói é indispensável um local adequado e acessível para o badminton. A partir disso, visando oferecer uma prática esportiva com qualidade e para todas as idades, o professor Gabriel Alcantara começou uma parceria com o COMPLEXO ESPORTIVO DO CAIO MARTINS e, desde 2013, oferece a modalidade gratuitamente para o público de todas as faixas etárias, segundas e quartas feiras entre 19h30 e 21h30.</p>

    </div>

  </div>


  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Fotos</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#" class="link-portfolio">
        <div class="overlay-portfolio">
          <h3>Banzhow Template</h3>
        </div><!-- /.overlay-portfolio -->
        <img class="img-responsive img-customer" src="/assets/portfolio_2.png" alt="Portfolio 2">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#" class="link-portfolio">
        <div class="overlay-portfolio">
          <h3>Banzhow Template</h3>
        </div><!-- /.overlay-portfolio -->
        <img class="img-responsive img-customer" src="/assets/portfolio_3.png" alt="Portfolio 3">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#" class="link-portfolio">
        <div class="overlay-portfolio">
          <h3>Banzhow Template</h3>
        </div><!-- /.overlay-portfolio -->
        <img class="img-responsive img-customer" src="/assets/portfolio_4.png" alt="Portfolio 4">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#" class="link-portfolio">
        <div class="overlay-portfolio">
          <h3>Banzhow Template</h3>
        </div><!-- /.overlay-portfolio -->
        <img class="img-responsive img-customer" src="/assets/portfolio_5.png" alt="Portfolio 5">
      </a>
    </div>

  </div>

</div><!-- /.container -->

<%= render 'layouts/footer' %>