<%= render 'layouts/header' %>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Eventos</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Eventos</li>
  </ol>

  <div class="row">

    <div class="col-lg-12">

      <blockquote>
        <p>NITERÓI OPEN DE BADMINTON</p>
      </blockquote>

      <p>lalalalalalalalalalalala</p>

      <blockquote>
        <p>SOLIBAD NITERÓI</p>
      </blockquote>

      <p>Mais de 130 cidades participaram do maior Flashmob do mundo. Nestas ocasiões, milhares de pessoas de países diferentes organizaram um ato simbólico para algo positivo.</p>

      <p>"Estamos muito satisfeitos por ver como a palavra se espalhou e como ela pegou. A partir de uma idéia louca para tentar reunir fãs do badminton para fazer uma coreografia simples para mostrar seu apoio ao SOLIBAD, chegamos agora a 100 cidades dos cinco continentes e mais estão se juntando todos os dias", disse Pi Hongyan, uma das mais brilhantes atletas do mundo".</p>

      <p>Os lugares simbólicos onde os Flashmobs são realizados vão desde o MAC – Museu de Artes Contemporâneas, em Niterói, construído por Oscar Niemayer, até a Ópera de Sydney ou em frente ao Mont Blanc (maior montanha da Europa) ou de outros lugares belos e exóticos. As imagens desses flashmobs são surpreendentes e estão veiculadas ao youtube.</p>

      <p>A mensagem por trás desses Flashmobs é mostrar que as principais estrelas e os jogadores de todo o mundo partilham os mesmos valores de solidariedade, através do esporte. Eles estão se mobilizando pela Fundação de Caridade SOLIBAD que tem projetos para ajudar crianças carentes no Haiti, Malásia, Indonésia, Vietnã, Ilhas Maurício ou do Brasil.</p>

      <blockquote>
        <p>NACIONAL DE BADMINTON EM NITERÓI</p>
      </blockquote>

      <p>Trata-se de uma competição esportiva, a I Etapa do Campeonato Nacional de Badminton, para jovens e adultos, que valerá pontos para o ranking nacional, contando com a presença dos melhores atletas do país, em Niterói, que será organizada em parceria entre o Prof Gabriel Alcantara, Confederação Brasileira e Federação de Badminton do Rio de Janeiro.</p>

      <p>O número estimado de participantes é de 350 atletas, de 13 estados diferentes, que disputarão medalhas nas categorias sub 11, 13, 15, 17, 19 e Principal (adulta), nas modalidades individuais e duplas, masculinas, femininas e mistas. Com a presença de atletas de altíssimo nível, o torneio será realizado no Ginásio do Colégio Salesiano e acontecerá entre os dias 27 e 30 de março de 2014, das 8 às 20h, totalmente gratuito para o público, que também terá a oportunidade de participar de oficinas esportivas e vivenciar alguns atrativos desta modalidade olímpica. </p>

    </div>

  </div>

</div><!-- /.container -->

<%= render 'layouts/footer' %>