<%= render 'layouts/header' %>

<div class="section-header">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">Quem Somos</h1>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Quem Somos</li>
  </ol>

  <div class="row">

    <div class="col-lg-12">

      <blockquote>
        <p>O professor Gabriel Alcantara, é graduado em Educação Física pela Universidade Federal do Rio de Janeiro,  cursa pós graduação em Ciência da Performance Humana na mesma Instituição e possui  certificação de Coach  Level  1 pela Badminton World Federation.</p>
      </blockquote>

      <p>Praticante de badminton desde 1993, Gabriel colecionou títulos e possui  uma vasta experiência como atleta, chegando a fazer parte da seleção brasileira, disputando torneios internacionais importantes. Atualmente, desenvolve projetos  que buscam disseminar  o badminton, desde a base até o alto rendimento e como uma perspectiva de lazer para públicos de todas as idades.</p>

      <p>Este trabalho é desenvolvido  através de uma iniciativa particular, com o registro de micro empresário individual, o PROF.GABRIEL ALCANTARA  se formalizou e desde 2013 e tem feito parcerias importantes com órgãos públicos e privados, podendo destacar o SESC, PREFEITURA DE NITERÓI , JURUJUBA IATE CLUBE, CENTRO EDUCACIONAL DE NITERÓI, COMPLEXO ESPORTIVO CAIO MARTINS, dentre outros.</p>

      <p>O nosso objetivo é  difundir o esporte e propor uma iniciação lúdica, aliando técnica aos valores essenciais para formação de um cidadão. A partir de uma metodologia de ensino diferenciada entre faixas etárias e nível técnico, as turmas podem ser mistas, com crianças a partir sete anos e sem limite de idade. Oferecendo uma oportunidade para que os jovens tenham acesso à prática esportiva com qualidade e que os adultos possam realizar uma prática esportiva regularmente e possuir todos os benefícios inerentes a ela.</p>

      <p>VENHA CONFERIR!!!</p>

      <p>ENTRE NA ONDA OLÍMPICA E NÃO DEIXE A PETECA CAIR!!!</p>

    </div>

  </div>

</div><!-- /.container -->

<%= render 'layouts/footer' %>