<!DOCTYPE html>
<html>
<head>
  <title>Bad Legal</title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bad Legal</title>

  <!-- font-awesome -->
  <link href="/assets/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <link href="/assets/font-awesome-ie7.css" rel="stylesheet">
  <![endif]-->

  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap.css" rel="stylesheet">

  <!-- custom CSS -->
  <link href="/assets/style.css" rel="stylesheet">
  <!--[if lte IE 8]>
  <link href="/assets/ie8.css" rel="stylesheet">
  <![endif]-->
  <!--[if lte IE 7]>
  <link href="/assets/ie7.css" rel="stylesheet">
  <![endif]-->

  <!-- JavaScript -->
  <script type="text/javascript" src="/assets/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/plugins.js"></script>
  <!--[if lte IE 7]>
  <script type="text/javascript" src="/assets/boxsizing/jquery.boxsizing.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/assets/banzhow.js"></script>


</head>
<body>

<%= yield %>

</body>
</html>
